* {
  box-sizing: border-box;
}
html {
  font-family: Arial, Helvetica, sans-serif;
}
.left-nav {
  float: left;
}
.right-nav {
  float: right;
}
img {
  width: 100% !important;
  padding: 20px 20px;
}

/* Giao diện dektop */
@media only screen and (min-width: 992px) {
  
  #header {
    height: 70px;
    width: 100%;
    padding: 0 50px;
  }
  li {
    display: inline-block;
    padding: 30px 10px;
    text-transform: uppercase;
  }
  .menu-text {
    color: #666;
    list-style: none;
    text-decoration: none;
    padding: 0 20px;
    
  }
  #banner {
    width: 100%;
    height: 350px;
    background-image: url(https://s3.amazonaws.com/codecademy-content/courses/ltp/img/lodging.png);
    background-size: 100% 320px;
    background-repeat: no-repeat;
    color: aliceblue;
    margin: 0;
    padding: 0;
  }
  .banner-1 {
    position: absolute;
    top: 157px;
    left: 59px;
    padding: 0;
}
  .content h1 {
    margin-top: 0 !important;
  }
  .banner-2 {
    position: absolute;
    top: 201px;
    left: 60px;
}
  .content {
    text-indent: 60px;
    font-size: 14px;
    color: #666;
    height: 100px;
  }
  .color- {
    background-color: rgb(236, 233, 228);
  }
  #footer {
    height: 230px;
    background-color: rgb(248, 245, 240);
    padding: 20px;
  }
  
}

