/* Giao diện tablets */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  #header {
    height: 50px;
    background-color: rgb(61, 58, 58);
    padding: 0 50px;
  }
  #--Sum {
    padding: 30px 50px 50px 50px;
  }
  li {
    display: inline-block;
    padding: 15px 10px;
    text-transform: uppercase;
  }
  .menu-text {
    color: #fff;
    list-style: none;
    text-decoration: none;
  }
  #banner {
    height: 150px;
    border-bottom-style: solid;
    border-color: rgb(75, 77, 78);
    padding: 50px 0
  }

  .content {
    height: 150px;
    padding: 50px 0;
  }
}
